.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:20px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;width: 100%;}
.tg th{font-family:Arial, sans-serif;font-size:26px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;width: 100%;text-align:center;}
.tg .tg-se7b{background-color:#f8a102;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-ojvr{background-color:#ffffc7;border-color:inherit;vertical-align:top;}
.divtotal{width: 100%;height: 100%;}